@font-face {
  font-family: 'Phoenica Std Regular';
  src: url(phoenica-regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
    margin: auto;
    max-width: 960px;
    font-family: 'Phoenica Std Regular', sans-serif;
    line-height: 1.5;
    padding: 8px 8px;
    border: 6px solid black;
	  padding-top: 8px;
	}
.header{
	display: flex;
	text-align: center;
	background-image: ('C:\Users\PERSONAL\Documents\CV\YO.jpeg');
  background-color: black;
  }
.header h1{
  display: flex;
  justify-content: center;
	color: white;
	padding-left: 130px;
	padding-top: 50px;
}
.header h2{
  display: flex;
  justify-content: center;
	color: white;
	padding-left: 100px;
}
figcaption{
	color: white;
}
  aside{
    flex-wrap:wrap ;
    width: 27%;
    background-color: black;
    flex-wrap: wrap;
  }
  aside *{
    padding: 5px 12px;
  }
  aside > article > h1{
    color: #8F754F;
    font-size: 20px;
    margin: 4px 0px;
  }
  aside > article > section > h1{
    font-size: 15px;
    margin: 0px;
  }
  aside > article > section > p{
    margin: 0px;
    font-style: italic;
  }
  aside ul{
    margin: 5px 0px;
  }
  aside > article> ul >li{
	color: white;
  }
  aside>article>p{
	color: white;
  }
  main{
	width: 60%;
	background-color: white;
	flex-direction: row;
  margin-left: 30px;

  }
  main > article > h1{
    color:#8F754F;
    padding: 0px 10px;
    margin: 30px -10px;
  }

  article.perfil > p{
    color: black;
    text-align: justify;
    padding: 20px 30px;
  }
article.perfil>p{
	color:black;
	text-align: justify;
	padding: 0px 500px;
}
.header img{
	margin-left: 40px;
	margin-top: 40px;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    max-width: none;
    font-size: 0.9rem;
  }

  }