body {
    margin: 0 auto;
    max-width: 1000px;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 10px 20px;
    border: 10px solid black;
    color : black ;
	padding: 230px;
	padding-left: 20px;
	padding-top: 10px;
    padding-right: 20px;
	}
.header{
	display: flex;
	text-align: center;
	background-image: ('C:\Users\PERSONAL\Documents\CV\YO.jpeg');
    background-color: black;

  }
.header h1{
	color: white;
	padding-left: 190px;
	padding-top: 30px;
	
}
.header h2{
	color: white;
	padding-left: 200px;
	text-align: center;
	
}
figcaption{
	color: white;
}
  aside{
    display: inline-block;
    margin: 0px;
    width: 300px;
    background-color: black;
	
  }
  aside *{
    padding: 0px 10px;
  }
  aside > article > h1{
    color: #8F754F;
    font-size: 20px;
    margin: 5px 0px;
  }
  aside > article > section > h1{
    font-size: 15px;
    margin: 0px;
  }
  aside > article > section > p{
    margin: 0px;
    font-style: italic;
  }
  aside ul{
    margin: 5px 0px;
  }
  aside > article> ul >li{
	color: white;
  }
  aside>article>p{
	color: white;
  }
  main{
	width: 650px;
	height: 300px;
	background-color: white;
	float: right;
	padding-left: 50px;
  }
  main > article > h1{
    color:#8F754F;
    padding: 0px 10px;
    margin: 0px 10px;
  }

  article.perfil > p{
    color: black;
    text-align: justify;
    padding: 0px 20px;
  }
article.perfil>p{
	color:black;
	text-align: justify;
	padding: 0px 20px;
}
.header img{
	margin-left: 40px;
	margin-top: 40px;
}